<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Remove .html extension from URLs -->
        <rule name="Remove .html extension" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
        
        <!-- Redirect .html to clean URL -->
        <rule name="Redirect .html to clean URL" stopProcessing="true">
          <match url="^([^/]+)\.html$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        
        <!-- Handle chess route -->
        <rule name="Chess route" stopProcessing="true">
          <match url="^chess/?$" />
          <action type="Rewrite" url="Chess/Chess.html" />
        </rule>
      </rules>
    </rewrite>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

